{% extends "common/base.html" %}
{% load static %}

{% block title %}Thêm mới địa điểm{% endblock %}
{% block content%}
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"></script>
<script id="dataJson" type="application/json" src="C:/xampp/htdocs/AparaWeb/home/static/data.json"></script>
<form class="border-box">
  <h4 class="text-center mt-20">Thêm mới</h4>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="inputname">Tên địa điểm</label>
        <input type="text" class="form-control" id="name" placeholder="Tên" required>
      </div>
    <div class="form-group col-md-6">
      <label for="inputphone">Số điện thoại</label>
      <input type="number" min="0" required maxlength="10" class="form-control" id="phone" placeholder="Số điện thoại">
    </div>
  </div>
  <div class="form-row">
      <div class="form-group col-md-6">
        <label for="inputemail">Email</label>
        <input type="email" class="form-control" id="email" placeholder="email">
      </div>
      <div class="form-group col-md-6">
        <label for="inputrepre">Người đại diện</label>
        <input type="text" required class="form-control" id="representative" placeholder="Người đại diện">
      </div>
  </div>
  <div class=" ">
    <div class="form-group select-group col-md-4 mt-10">
      <select class="form-control form-select-sm" name="q" id="city" aria-label=".form-select-sm">
          <option value="" selected="" disabled="">Chọn tỉnh thành</option>
      </select>
    </div>

    <div class="form-group select-group col-md-4 mt-10" >
      <select class="form-control" name="q" id="district" aria-label=".form-select-sm">
          <option value="" selected="" disabled="">Chọn Quận/Huyện</option>
      </select>
    </div>
    <div class="form-group select-group col-md-4 mt-10">
      <select class="form-control" name="q" id="ward" aria-label=".form-select-sm">
          <option value="wardcommune" selected="" disabled="">Chọn Phường/Xã</option>
      </select>
    </div>
  </div>
  <div class="form-group col-md-12">
    <label for="inputaddress">Địa chỉ</label>
    <input type="text" required class="form-control" id="address" placeholder="Địa chỉ">
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputcostmin">Giá từ</label>
      <input type="number" maxlength="10" min="0" class="form-control" id="costmin" placeholder="Tên" required>
    </div>
    <div class="form-group col-md-6">
      <label for="inputcostmax">đến</label>
      <input type="number" min="0" required maxlength="10" class="form-control" id="costmax">
    </div>
  </div>
  <div class="form-group col-md-12">
    <label for="inputdescribe">Mô tả</label>
    <textarea type="text" rows="4" required class="form-control" id="describe"> </textarea>
  </div>
  <button type="submit" class="btn btn-primary pull-right">Lưu trữ</button>
</form>
  <script>
    var citis = document.getElementById("city");
    var districts = document.getElementById("district");
    var wards = document.getElementById("ward");
    var Parameter = {
    url: "https://raw.githubusercontent.com/kenzouno1/DiaGioiHanhChinhVN/master/data.json", 
    method: "GET", 
    responseType: "application/json", 
    };
    var promise = axios(Parameter);
    promise.then(function (result) {
    renderCity(result.data);
    });
    
    function renderCity(data) {
    for (const x of data) {
     citis.options[citis.options.length] = new Option(x.Name, x.Id);
    }
    citis.onchange = function () {
     district.length = 1;
     ward.length = 1;
     if(this.value != ""){
       const result = data.filter(n => n.Id === this.value);
    
       for (const k of result[0].Districts) {
         district.options[district.options.length] = new Option(k.Name, k.Id);
       }
     }
    };
    district.onchange = function () {
     ward.length = 1;
     const dataCity = data.filter((n) => n.Id === citis.value);
     if (this.value != "") {
       const dataWards = dataCity[0].Districts.filter(n => n.Id === this.value)[0].Wards;
    
       for (const w of dataWards) {
         wards.options[wards.options.length] = new Option(w.Name, w.Id);
       }
     }
    };
    }
</script>
{% endblock %}