{% extends "common/base.html" %}
{% load static %}

{% block title %}Cập nhật địa điểm{% endblock %}
{% block content%}
<div class="well">
  <h5><a href="{% url 'home_admin'%}">Trang chủ</a> / <a href="{% url 'location_list'%}">Danh sách địa điểm</a> / <span>Cập nhật</span></h5>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"></script>
<script id="dataJson" type="application/json" src="C:/xampp/htdocs/AparaWeb/home/static/data.json"></script>
<form class=" form-contact bg-nav " method="POST" enctype="multipart/form-data">
  {% csrf_token %}
  <h4 class="text-center pt-30">Thêm mới</h4>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputname">Tên địa điểm</label>
      <input type="text" value="{{loca.name}}"class="form-control" id="name" name="name" placeholder="Tên" required>
    </div>
    <div class="form-group col-md-6">
      <label for="inputphone">Số điện thoại</label>
      <input type="number" value="{{loca.phone}}" min="0" maxlength="10" class="form-control" id="phone" name="phone" placeholder="Số điện thoại">
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="category">Thể loại</label>
      <select name="category" default id="category" class="form-control">
        <option value="{{loca.category_id}}">{{loca.category}}</option> 
        {% for category in cate %}
          <option value="{{category.id}}">{{category.name}}</option> 
        {% endfor %}
      </select>
    </div>
    <div class="form-group col-md-6">
      <label for="logo">Logo</label>
      <input type="file" name="logo"  class="form-control" id="logo">
      <br/>
      {% if loca.image %}
        <img src="/media/{{loca.logo}}" width="100" height="100" alt="Hình ảnh">
      {% endif %}
    </div>
  </div>
  <div class=" ">
    <div class="form-group select-group col-md-4 mt-10">
      <select class="form-control form-select-sm" name="city" id="city" aria-label=".form-select-sm">
          <option value="{{loca.city}}">{{loca.city}}</option>
      </select>
    </div>

    <div class="form-group select-group col-md-4 mt-10" >
      <select class="form-control" name="district" id="district" aria-label=".form-select-sm">
          <option value="{{loca.district}}">{{loca.district}}</option>
      </select>
    </div>
    <div class="form-group select-group col-md-4 mt-10">
      <select class="form-control" name="ward" id="ward" aria-label=".form-select-sm">
          <option value="{{loca.wardcommune}}">{{loca.wardcommune}}</option>
      </select>
    </div>
  </div>
  <div class="form-group col-md-12">
    <label for="inputaddress">Địa chỉ</label>
    <input type="text" value="{{loca.address}}" name="address" required class="form-control" id="address" placeholder="Địa chỉ">
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="costmin">Giá từ</label>
      <select class="form-control" name="costmin" id="costmin" aria-label=".form-select-sm">
        <option value="{{loca.costmin}}">{{loca.costmin}}</option>
        <option value="25000">25000</option>
        <option value="50000">50000</option>
        <option value="100000">100000</option>
        <option value="150000">150000</option>
        <option value="200000">200000</option>
        <option value="250000">250000</option>
      </select>
    </div>
    <div class="form-group col-md-6">
      <label for="costmax">đến</label>
      <select class="form-control" name="costmax" id="costmax" aria-label=".form-select-sm">
        <option value="{{loca.costmax}}">{{loca.costmax}}</option>
        <option value="50000">50000</option>
        <option value="100000">100000</option>
        <option value="150000">150000</option>
        <option value="200000">200000</option>
        <option value="250000">250000</option>
        <option value="300000">300000</option>
      </select>
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="timestart">Hoạt động từ</label>
      <input type="time" value="{{loca.timestart}}" name="timestart" maxlength="10" min="0" class="form-control" id="timestart" placeholder="Thời gian bắt đầu" required>
    </div>
    <div class="form-group col-md-6">
      <label for="timeend">đến</label>
      <input type="time" value="{{loca.timeend}}" name="timeend" min="0" required maxlength="10" class="form-control" id="timeend" placeholder="{{loca.timeend}}">
    </div>
  </div>
  <div class="form-group col-md-12">
    <label for="inputdescribe">Mô tả</label>
      <textarea type="text" rows="4" name="describe" required class="form-control" id="describe">{{loca.describe}}</textarea>
  </div>
  <div class="form-group col-md-12">
    {% if loca.image %}
    <img src="/media/{{loca.image}}" width="100" height="100" alt="Hình ảnh">
    {% endif %}
    <br/> 
    <label for="image">Hình ảnh</label>
    <input type="file" value="/media/{{loca.image}}" name="image" class="form-control" id="image" >
  </div>
  <div class="pb-30  text-center">
    <button type="submit" class="btn btn-primary">Lưu trữ</button>
  </div>
  </form>
{% endblock %}