{% extends "common/base.html" %}
{% load static %}

{% block title %}Danh sách hình ảnh{% endblock %}

{% block content%}
<div class="well">
    <h5><a href="{% url 'home_admin'%}">Trang chủ</a> / <span>Danh sách hình ảnh</span></h5>
</div>
<div class="bg-inf">
    <nav class="navbar-light bg-light justify-content-between">
        <div class="d-flex">
            <button type="button" class="btn btn-primary pull-left mb-10" ><a href="{% url 'get_images_form'%}" style="color: #fff;">Thêm mới hình ảnh</a></button>
            {% comment %} <form class="form-inline pull-right">
                <input class="form-control mr-sm-2" type="search" placeholder="Tìm kiếm" aria-label="Search">
                <button class="btn btn-primary my-2 my-sm-0" type="submit">Tìm kiếm</button>
            </form> {% endcomment %}
        </div>
    </nav>
    <nav class="text-center">
        {% if messages %}
        <div class="messages ">
          {% for message in messages %}
          <p{% if message.tags %} class="{{ message.tags }}"style="color: green;"{% endif %}><span style="color: green;"> {{ message }}</span></p>
          {% endfor %}
        </div>
        {% endif %}
      </nav>
    <table class="table v-middle">
        <thead class="thead-dark">
            <tr>
            <th scope="col">STT</th>
            <th scope="col">Tên địa điểm</th>
            <th scope="col">Hình ảnh</th>
            <th scope="col">Thao tác</th>
            </tr>
        </thead>
        {% for im in page_obj %}
        <tbody>
            <tr>
                <th scope="row">{{im.id}}</th>
                <td>{{im.location_id}}</td>
                <td><img src="/media/{{im.image}}" alt="" style="width:80px; height:80px;"></td>
                <td>    
                    <a href="{% url 'delete_images' im.id  %}"onclick=" return confirm('Bạn có chắc chắn muốn xóa hình ảnh này?');"><i class="inline-deletelink" style="float: left;"></i></a>
                </td>
            </tr>
        </tbody>
        {% endfor %}
    </table>
    <div class="pagination text-center mt-30 mb-30">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page=1" class="bd-pag">&laquo; Đầu</a>
                <a href="?page={{ page_obj.previous_page_number }} "class="bd-pag">Trước</a>
            {% endif %}
    
            <span class="current">
                <span class="bd-pag actionn">{{ page_obj.number }}</span> ... <a href="?page={{ page_obj.paginator.num_pages }}" class="bd-pag">{{ page_obj.paginator.num_pages }}</a>
            </span>
    
            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }} "class="bd-pag">Sau</a>
                <a href="?page={{ page_obj.paginator.num_pages }}" class="bd-pag"> Cuối &raquo;</a>
            {% endif %}
        </span>
    </div>
</div>
{% endblock %}