{% extends "common/base.html" %}
{% load static %}

{% block title %}Danh sách địa điểm{% endblock %}

{% block content%}
<nav class="navbar navbar-light bg-light justify-content-between">
    <div class="d-flex">
        <button type="button" class="btn btn-primary"><a href="{% url 'get_location_form'%}" style="color: #fff;">Thêm mới</a></button>
        <form class="form-inline">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-primary my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</nav>
<table class="table table-bordered">
  <thead class="thead-dark">
    <tr>
      <th scope="col">STT</th>
      <th scope="col">Tên địa điểm</th>
      <th scope="col">Logo</th>
      <th scope="col">Thể loại</th>
      <th scope="col">Địa chỉ</th>
      <th scope="col">Lượt bình luận</th>
      <th scope="col">Điểm TB</th>
    </tr>
  </thead>
  {% for location_list in Locations %}
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>{{location_list.name}}</td>
      <td><img src="/media/{{location_list.logo}}" alt="" style="width:80px; height:80px;"></td>
      <td>{{location_list.category}}</td>
      <td>{{location_list.address}}</td>
      <td>{{location_list.countReview}}</td>
      <td>{{location_list.averageReview}}</td>
    </tr>
  </tbody>
  {% endfor %}
  {% if page_obj.has_next %}
        <a href="{{request.path}}?page={{page_obj.next_page_number}}">Tiếp</a>
  {% endif %}
</table>
{% endblock %}