{% extends "pages/base.html" %}
{% load static %}

{% block title %}Đổi mật khẩu{% endblock %}
{% block content %}
<div class="emp-profile mt-150 pb-30">
    <div class="container">
        <form method="post" >
            <fieldset>
                <legend>Thay đổi mật khẩu</legend>
                {% csrf_token %}
                {{form.as_p}}
                <button type="submit" class="form-button btn">Lưu trữ</button> 
                <button type="reset" class="form-button btn ">Reset</button>
            </fieldset>
        </form>
    </div>
</div>

{% endblock %}