{% extends "pages/base.html" %}
{% load static %}

{% block title %}Trang chủ{% endblock %}

{% block banner %}
<header id="header-center-slogan-form-2" class="pt-150 pb-200 text-center dark">
    <div class="container">
        <div class="row">
            <div class="col-md-12" style="">
                <img class="screen mb-100" src="{% static 'images/Apara_den.png' %}" alt="logo" width="170" height="170">
                <h1 class="mb-50" style="">Rent a paradise on the weekend</h1>
                    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"></script>
                    <script id="dataJson" type="application/json" src="C:/xampp/htdocs/AparaWeb/home/static/data.json"></script>
                <form class="form-inline" action="{% url 'searchlocation'%}">
                    <input class="form-control mr-sm-2" name="q" type="search" placeholder="Search" aria-label="Search">
                    <div class="form-group select-group">
                        <select class="form-control form-select-sm" name="qcity" id="city" aria-label=".form-select-sm">
                            <option value="" selected="" disabled="">Chọn tỉnh thành</option>
                        </select>
                    </div>
                    <div class="form-group select-group" >
                        <select class="form-control" name="qdistrict" id="district" aria-label=".form-select-sm">
                            <option value="" selected="" disabled="">Chọn Quận/Huyện</option>
                        </select>
                    </div>
                    <div class="form-group select-group">
                        <select class="form-control" name="qward" id="ward" aria-label=".form-select-sm">
                            <option value="wardcommune" selected="" disabled="">Chọn Phường/Xã</option>
                        </select>
                    </div>
                    <div class="form-group select-group">
                        <select class="form-control" name="qmincost">
                            <option value="mincost" selected="" disabled="">Giá từ</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                        </select>
                    </div>
                    <div class="form-group select-group">
                        <select class="form-control" name="qmaxcost">
                            <option value="maxcost" selected="" disabled="">đến</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                        </select>
                    </div>
                    <button class="btn btn-primary my-2 my-sm-0 " type="submit">Tìm kiếm</button>
                </form>
                <p class="">Bạn rất quan trọng với chúng tôi, mọi thông tin nhận được sẽ luôn được bảo mật.</p>
            </div>
        </div>
    </div>
    <div class="bg"><img src="{% static 'images/bg-nature-4.jpg' %}"></div>
</header>
{% endblock %}

{% block content %}
<section id="clients-carousel" class="pt-75 pb-50  light">
    <div class="container">
            {% if  recommended%}
        <h3 class="">Địa điểm được gợi ý cho bạn</h3>
        <div class="carousel-5item-nav owl-drag">
            {% for item in recommended %}
            <div class="">
                <div class="card" style="border: 0.5px solid #f2f2f2;">
                    <div style="">
                        <img src="{{item.image}}" alt="Photo" class="card-img">
                    </div>
                    <div style="margin: 10px;">
                        <h4 class="mt-20 mb-0"><strong><a href="/blog/location/{{item.locationId}}">{{item.name}}</a></strong></h4>
                        <h4 class="mb-20">{{item.category}}</h4>
                        <p class="mb-20 address-loca" style="display: -webkit-box;-webkit-line-clamp: 2;-webkit-box-orient: vertical;overflow: hidden;">
                            <i class="icon-location2 icon-color icon-size-m icon-position-left "></i>{{item.address}}, {{item.wardcommune}}, {{item.district}}, {{item.city}}</p>
                        <ul class="text-icon-list text-icon-list-sep">
                            <li class="clearfix"><i class="icon-star icon-color icon-size-m icon-position-left"></i>
                                <span>Đánh giá</span>
                                <span class="pull-right">{{location.averageReview}}/ 5</span>
                            </li>
                            <li class="clearfix"><i class="icon-tag icon-color icon-size-m icon-position-left"></i>
                                <span>Giá</span>
                                <span class="pull-right"><strong>{{item.costmin}}</strong>-<strong>{{item.costmax}} VND</strong></span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            {% endfor %}
        {% else %}
        <h3 class="my-4 text-light">Không có gợi ý địa điểm</u></h3>
        {% endif %}
        </div>
    </div>
    <div class="bg"></div>
</section>
<section id="clients-carousel" class="pt-50 pb-50 text-center light">
    <div class="container">
        <h3 class="mb-40">Địa điểm phổ biến</h3>
        <div class="carousel-5item-nav owl-drag mt-30">
            {% for location in locations %}
                <div class="">
                    <div class="card" style="border: 0.5px solid #f2f2f2;">
                        <div style="">
                            <img src="{{location.image.url}}" alt="Photo" class="card-img">
                        </div>
                        <div style="margin: 10px;">
                            <h4 class="mt-20 mb-0" style="display: -webkit-box;-webkit-line-clamp: 1;-webkit-box-orient: vertical;overflow: hidden;"><strong><a href="/blog/location/{{location.id}}">{{location.name}}</a></strong></h4>
                            <h4 class="mb-20">{{location.category}}</h4>
                            <p class="mb-20 address-loca" style="display: -webkit-box;-webkit-line-clamp: 2;-webkit-box-orient: vertical;overflow: hidden;">
                                <i class="icon-location2 icon-color icon-size-m icon-position-left "></i>{{location.address}}, {{location.wardcommune}}, {{location.district}}, {{location.city}}</p>
                            <ul class="text-icon-list text-icon-list-sep">
                                
                                <li class="clearfix"><i class="icon-star icon-color icon-size-m icon-position-left"></i>
                                    <span>Đánh giá</span>
                                    <span class="pull-right">{{location.averageReview}}/ 5</span>
                                </li>
                                <li class="clearfix"><i class="icon-star icon-color icon-size-m icon-position-left"></i>
                                    <span>Thời gian: </span>
                                    <span class="pull-right">{{location.timestart}}~{{location.timeend}}</span>
                                </li>
                                <li class="clearfix"><i class="icon-tag icon-color icon-size-m icon-position-left"></i>
                                    <span>Giá</span>
                                    <span class="pull-right"><strong>{{location.costmin}}</strong>-<strong>{{location.costmax}} VND</strong></span>
                                </li>
                                <li class="clearfix"><i class="icon-star icon-color icon-size-m icon-position-left"></i>
                                    <span>Lượt truy cập</span>
                                    <span class="pull-right">{{location.views}}</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    <div class="bg"></div>
</section>
<section id="clients-carousel" class="pt-50 pb-50 text-center light">
    <div class="container">
        <h3 class="mb-40">Địa điểm mới nhất</h3>
        <div class="carousel-5item-nav owl-drag mt-30">
            {% for location in locationnew %}
                <div class="">
                    <div class="card" style="border: 0.5px solid #f2f2f2;">
                        <div style="">
                            <img src="{{location.image.url}}" alt="Photo" class="card-img">
                        </div>
                        <div style="margin: 10px;">
                            <h4 class="mt-20 mb-0" style="display: -webkit-box;-webkit-line-clamp: 1;-webkit-box-orient: vertical;overflow: hidden;"><strong><a href="/blog/location/{{location.id}}">{{location.name}}</a></strong></h4>
                            <h4 class="mb-20">{{location.category}}</h4>
                            <p class="mb-20 address-loca" style="display: -webkit-box;-webkit-line-clamp: 2;-webkit-box-orient: vertical;overflow: hidden;">
                                <i class="icon-location2 icon-color icon-size-m icon-position-left "></i>{{location.address}}, {{location.wardcommune}}, {{location.district}}, {{location.city}}</p>
                            <ul class="text-icon-list text-icon-list-sep">
                                
                                <li class="clearfix"><i class="icon-star icon-color icon-size-m icon-position-left"></i>
                                    <span>Đánh giá</span>
                                    <span class="pull-right">{{location.averageReview}}/ 5</span>
                                </li>
                                <li class="clearfix"><i class="icon-star icon-color icon-size-m icon-position-left"></i>
                                    <span>Thời gian: </span>
                                    <span class="pull-right">{{location.timestart}}~{{location.timeend}}</span>
                                </li>
                                <li class="clearfix"><i class="icon-tag icon-color icon-size-m icon-position-left"></i>
                                    <span>Giá</span>
                                    <span class="pull-right"><strong>{{location.costmin}}</strong>-<strong>{{location.costmax}} VND</strong></span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    <div class="bg"></div>
</section>
<section id="clients-carousel" class="pt-50 pb-50 text-center light">
    <div class="container">
        <h3 class="">Danh mục</h3>
        <div class="carousel-5item-nav owl-drag mt-30">
            {% for category in category %}
            <div class="item border-box" >
                <p class="pt-30 pb-30" style="margin-bottom: 0px">{{category.name}}</p>
            </div>
            {% endfor %}
        </div>
    </div>
    <div class="bg"></div>
</section>
<section id="clients-carousel" class="pt-50 pb-50 text-center light">
    <div class="container">
        <h3 class="">Đối tác</h3>
        <div class="carousel-5item-nav owl-drag ">
            {% for location in locations %}
            <div class="item">
                <img src="media/{{location.logo}}" alt="logo" class="screen" width="100px" height="100px">
                {% comment %} <p class="mt-20">{{category.name}}</p> {% endcomment %}
            </div>
            {% endfor %}
        </div>
    </div>
    <div class="bg"></div>
</section>
<style>
    .card img{
        height: 200px!important;
    }
</style>
 {% endblock %}
 