<!DOCTYPE html>
<html>
    <head>
        {% load static %}
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Đăng ký</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
        <link rel="stylesheet" href="">
        <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}" type='text/css'>
        <link rel="stylesheet" href="{% static 'css/icons.css' %}" type='text/css'>
        <link rel="stylesheet" href="{% static 'css/style.css' %}" type='text/css'>
        <link rel="stylesheet" href="{% static 'css/owl.carousel.css' %}" type='text/css'>
        <link rel="stylesheet" href="{% static 'css/magnific-popup.css' %}" type='text/css'>
        <link rel="stylesheet" href="{% static 'css/bootstrap-datepicker.css' %}" type='text/css'>
        <link rel="stylesheet" href="{% static 'css/custom.css' %}" type='text/css'>
        <link rel="stylesheet" href="{% static 'css/contact.css' %}" type='text/css'>
        <link rel="stylesheet" href="{% static 'css/home.css' %}" type='text/css'>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        {% comment %} <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"> {% endcomment %}
        <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        <script src="{% static 'js/register.js' %}"></script>
    </head>
    <body class="light-page">
        <div id="wrap">
			<section id="subscribe-field-halfbg" class="pt-100 pb-md-100 text-center light">
    			<div class="container-fluid">
        			<div class="row">
            			<div class="col-md-4 col-md-offset-1" style="">
                            <p><a href="{% url 'home' %}">Trang chủ</a> / <a href="{% url 'login' %}">Đăng nhập</a></p>
                			<h2 class="mb-20" style="">Đăng ký</h2>
                			<p class="mb-30 light" style="Chào mừng bạn đến với Apara!">Chào mừng bạn đến với Apara!</p>
                			<form action="." method="POST" novalidate class="contact_form" id="subscribe-field-halfbg-form">
                    			{% csrf_token %}
                                {% comment %} {{form.as_p}} {% endcomment %}
                                {% for fm in form %}
                                <span class="text-light">{{fm.label_tag}}</span>
                                <div class="form-group">
                                {{fm}}
                                </div>
                                {% if fm.errors %}
                                <div class="alert alert-danger lert-dismissible fade show">
                                {{fm.errors|striptags}}
                                {% endif %}
                                {% endfor %}
                                <input type="submit" value="Đăng ký" class="btn btn-primary">
                			</form>
            			</div>
        			</div>
    			</div>
    			<div class="half-container-right"></div>
    			<div class="bg"></div>
			</section>
		</div>
        <script src="" async defer></script>
    </body>
</html>