{% extends "common/base.html" %}
{% load static %}

{% block title %}Thêm mới tài khoản{% endblock %}
{% block content%}
<div class="well">
  <h5><a href="{% url 'home_admin'%}">Trang chủ</a> / <a href="{% url 'account_list'%}">Danh sách tài khoản</a> / <span>Thêm mới tài khoản Người quản lý</span></h5>
</div>

<form method="POST" class="contact_form text-center bg-inf" id="subscribe-field-halfbg-form" novalidate>
    {% csrf_token %}
    {% for fm in form %}
        <span class="text-light">{{fm.label_tag}}</span>
        <div class="form-group">
            {{fm}}
        </div>
        {% if fm.errors %}
            <div class="alert alert-danger lert-dismissible fade show">
                {{fm.errors|striptags}}
        {% endif %}
    {% endfor %}
    <input type="submit" value="Lưu trữ" class="btn btn-primary">
</form>

{% endblock %}