{% extends "common/base.html" %}
{% load static %}

{% block title %}Thêm hình ảnh{% endblock %}
{% block content%}
<div class="well">
  <h5><a href="{% url 'home_admin'%}">Trang chủ</a> / <a href="{% url 'i'%}">Danh sách bình luận</a> / <span>Thêm mới</span></h5>
</div>
<form class="form-contact bg-nav" action="{% url 'add_images'%}" method="POST">
  {% csrf_token %}
  <h4 class="text-center pt-30">Thêm mới</h4>
  <div class="form-row">
    <div class="form-group col-md-12">
      <label for="location_id">Tên địa điểm</label>

      <select name="location_id" required id="location_id" class="form-control">
        <option value="">---Chọn địa điểm---</option> 
        {% for location in location_list %}
          <option value="{{location.id}}">{{location.name}}</option> 
        {% endfor %}
      </select>
    </div>
    <div class="form-group col-md-12">
        <label for="body">Nội dung</label>
        <textarea type="text" name="body" rows="4"  required class="form-control" id="body" ></textarea> 
    </div>
    <div class="form-group col-md-12">
        <label for="location_id">Đánh giá</label>
  
        <select name="location_id" required id="location_id" class="form-control">
          <option value="">---Chọn điểm---</option> 
            <option value="0.5">0.5</option> 
            <option value="1">1</option> 
            <option value="1.5">1.5</option> 
            <option value="2">2</option> 
            <option value="2.5">2.5</option> 
            <option value="3">3</option> 
            <option value="3.5">3.5</option> 
            <option value="4">4</option> 
            <option value="4.5">4.5</option> 
            <option value="5">5</option> 
        </select>
    </div>
    <div class="pb-30  text-center">
      <button type="submit" class="btn btn-primary">Lưu trữ</button>
    </div>
</form>
{% endblock %}