{% extends "pages/base.html" %}
{% load static %}

{% block title %}{{object.name}}{% endblock %}

{% block content %}
<section id="desc-img-text-list" class="pt-150 pb-100 light">
    <div class="container">
        <div class="row" >
            <div class="col-md-4 col-md-push-8">
                <h2 class="mb-10"><a href=""><strong>{{detaillocation.name}}</strong></a></h2>
                <h4 class="mb-50">{{detaillocation.category}}</h4>
                <p class="mb-20"><i class="icon-location2 icon-color icon-size-m icon-position-left "></i>{{detaillocation.address}}, {{detaillocation.wardcommune}}, {{detaillocation.district}}, {{detaillocation.city}}</p>
                <ul class="text-icon-list text-icon-list-sep">
                    <li class="clearfix"><i class="icon-phone icon-color icon-size-m icon-position-left"></i>
                        <span>Số điện thoại</span>
                        <span class="pull-right">{{detaillocation.phone}}</span>
                    </li>
                    <li class="clearfix"><i class="icon-clock icon-color icon-size-m icon-position-left"></i>
                        <span>Thời gian</span>
                        <span class="pull-right">{{detaillocation.timestart}}~{{detaillocation.timeend}}</span>
                    </li>
                    <li class="clearfix"><i class="icon-star icon-color icon-size-m icon-position-left"></i>
                        <span>Đánh giá</span>
                        <span class="pull-right">{{detaillocation.averageReview}}/5</span>
                    </li>
                    <li class="clearfix"><i class="icon-tag icon-color icon-size-m icon-position-left"></i>
                        <span>Khoảng giá</span>
                        <span class="pull-right"><strong>{{detaillocation.costmin}}</strong>-<strong>{{detaillocation.costmax}} VND</strong></span>
                    </li>
                    <li> 
                        <span>Lượt xem</span>
                        <span class="pull-right">{{detaillocation.views}}</span>
                    </li>
                </ul>
                {% comment %} <a href="#" class="btn btn-default mt-60"><span>Rent now</span><i class="icon-arrow-right icon-position-right"></i></a> {% endcomment %}
            </div>
            <div class="col-md-8 col-md-pull-4 text-center gallery-img">
                <div class="mySlides">
                    <img src="/media/{{detaillocation.image}}" alt="screen" class="screen" height="350px;">
                </div>
                {% for img in image %}
                <div class="mySlides">
                    <img src="/media/{{img.image}}" style="width:100%">
                </div>
                {% endfor %}   
                   
                <a class="prev" onclick="plusSlides(-1)">❮</a>
                <a class="next" onclick="plusSlides(1)">❯</a>
                <div class="row"style=" margin-left: 0px;margin-right: 0px;">
                    <div class="column" style="height: 100px;">
                        <img class="demo cursor" src="/media/{{detaillocation.image}}" style="width:100%; height: 100%;" onclick="currentSlide(1)" alt="Image">
                    </div>
                    {% for img in image %}
                    <div class="column" style="height: 100px;">
                        <img class="demo cursor" src="/media/{{img.image}}" style="width:100%; height: 100%;" onclick="currentSlide(1)" alt="Image">
                    </div>
                    {% endfor %}  
                </div>
                
            </div>
        </div>
    </div>
    <div class="bg"></div>
</section>
{% comment %} <section id="clients-carousel" class="pt-10 pb-50 light">
    <div class="container">
        <h3 class="mb-40">Địa điểm tương tự</h3>
        <div class="carousel-5item-nav owl-drag mt-30">
            {% for location in similarLoca %}
                <div class="">
                    <div class="card" style="border: 0.5px solid #f2f2f2;">
                        <div class="zoom">
                            <img src="{{location.image.url}}" alt="Photo" class="card-img">
                        </div>
                        <div style="margin: 10px;">
                            <h4 class="mt-10 mb-0" style="display: -webkit-box;-webkit-line-clamp: 1;-webkit-box-orient: vertical;overflow: hidden;"><strong><a href="/blog/location/{{location.id}}">{{location.name}}</a></strong></h4>
                            <h5 class="mb-10">{{location.category}}</h5>
                            <p class="mb-10 address-loca" style="display: -webkit-box;-webkit-line-clamp: 2;-webkit-box-orient: vertical;overflow: hidden;">
                                <i class="icon-location2 icon-color icon-size-m icon-position-left "></i>{{location.address}}, {{location.wardcommune}}, {{location.district}}, {{location.city}}</p>
                            <ul class="text-icon-list text-icon-list-sep">
                                <li class="clearfix"><i class="icon-clock icon-color icon-size-m icon-position-left"></i>
                                    <span>Thời gian: </span>
                                    <span class="pull-right">{{location.timestart}}~{{location.timeend}}</span>
                                </li>
                                <li class="clearfix"><i class="icon-tag icon-color icon-size-m icon-position-left"></i>
                                    <span>Giá</span>
                                    <span class="pull-right"><strong>{{location.costmin}}</strong>-<strong>{{location.costmax}} VND</strong></span>
                                </li>
                                <li class="clearfix"><i class="icon-file-preview icon-color icon-size-m icon-position-left"></i>
                                    <span>Lượt truy cập</span>
                                    <span class="pull-right">{{location.views}}</span>
                                </li>
                            </ul>
                            <button type="submit" id="" class="btn btn-primary mt-3" style="width:100%;"><a href="/blog/location/{{location.id }}"style="color:#ffffff;">Xem thêm</a ></button>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    <div class="bg"></div>
</section> {% endcomment %}
<section id="desc-tabs" class="pt-50 pb-125 text-center light">
    <div class="container">
        <div class="row">
            <div class="col-md-12">

                <ul class="nav nav-tabs" id="myTabs" role="tablist">
                    <li class=""><a href="#desc_tabs_0--0" id="desc_tabs_0--0-tab" role="tab" data-toggle="tab" aria-controls="desc_tabs_0--0" aria-expanded="false"><span>Mô tả chung</span></a></li><li class="active"><a href="#desc_tabs_0--1" role="tab" id="desc_tabs_0--1-tab" data-toggle="tab" aria-controls="desc_tabs_0--1" aria-expanded="true"><span>Đánh giá</span></a></li><li class=""><a href="#desc_tabs_0--2" role="tab" id="desc_tabs_0--2-tab" data-toggle="tab" aria-controls="desc_tabs_0--2" aria-expanded="false"><span>Hình ảnh</span></a></li>
                </ul>
                <div class="tab-content mt-40" id="myTabContent">
                    <div class="tab-pane fade" role="tabpanel" id="desc_tabs_0--0" aria-labelledby="desc_tabs_0--0-tab">
                        <p>{{detaillocation.describe|safe|linebreaks}}</p>
                    </div>
                    <div class="tab-pane fade active in" role="tabpanel" id="desc_tabs_0--1" aria-labelledby="desc_tabs_0--1-tab">
                        <div class="">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-sm-12 text-center">
                                        <h1 class="text-warning mt-4 mb-4">
                                            <b><span id="average_rating">{{detaillocation.averageReview}}</span> / 5</b>
                                        </h1>
                                        <div class="mb-2 rating-star">
                                            <i class="{% if detaillocation.averageReview < 0.5 %}far fa-star{% endif %}fa fa-star{% if detaillocation.averageReview >= 0.5 and detaillocation.averageReview < 1 %}-half-alt {% endif %}" aria-hidden="true"></i>
                                            <i class="{% if detaillocation.averageReview < 1.5 %}far fa-star{% endif %}fa fa-star{% if detaillocation.averageReview >= 1.5 and detaillocation.averageReview < 2 %}-half-alt {% endif %}" aria-hidden="true"></i>
                                            <i class="{% if detaillocation.averageReview < 2.5 %}far fa-star{% endif %}fa fa-star{% if detaillocation.averageReview >= 2.5 and detaillocation.averageReview < 3 %}-half-alt {% endif %}" aria-hidden="true"></i>
                                            <i class="{% if detaillocation.averageReview < 3.5 %}far fa-star{% endif %}fa fa-star{% if detaillocation.averageReview >= 3.5 and detaillocation.averageReview < 4 %}-half-alt {% endif %}" aria-hidden="true"></i>
                                            <i class="{% if detaillocation.averageReview < 4.5 %}far fa-star{% endif %}fa fa-star{% if detaillocation.averageReview >= 4.5 and detaillocation.averageReview < 5 %}-half-alt {% endif %}" aria-hidden="true"></i>
                                        </div>
                                        <h4><span id="total_review">{{detaillocation.countReview}}</span> bình luận</h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="mt-5" id="review_content">
                            <div class=" form-group ">
                                <div class="text-left" style="margin: 0 100px;">
                                    <p>{{ratings.author}}</p>
                                    {% if user.username %}
                                            {% if rateUser %}
                                            {% for ratings in ratings%}
                                                {% if ratings.author == request.user%}
                                                <div class="rating-star mb-30">Đánh giá của tôi
                                                    <span>
                                                        <i class="{% if ratings.rating < 0.5 %}far fa-star{% endif %}fa fa-star{% if ratings.rating >= 0.5 and ratings.rating < 1 %}-half-alt {% endif %}" aria-hidden="true"></i>
                                                        <i class="{% if ratings.rating < 1.5 %}far fa-star{% endif %}fa fa-star{% if ratings.rating >= 1.5 and ratings.rating < 2 %}-half-alt {% endif %}" aria-hidden="true"></i>
                                                        <i class="{% if ratings.rating < 2.5 %}far fa-star{% endif %}fa fa-star{% if ratings.rating >= 2.5 and ratings.rating < 3 %}-half-alt {% endif %}" aria-hidden="true"></i>
                                                        <i class="{% if ratings.rating < 3.5 %}far fa-star{% endif %}fa fa-star{% if ratings.rating >= 3.5 and ratings.rating < 4 %}-half-alt {% endif %}" aria-hidden="true"></i>
                                                        <i class="{% if ratings.rating < 4.5 %}far fa-star{% endif %}fa fa-star{% if ratings.rating >= 4.5 and ratings.rating < 5 %}-half-alt {% endif %}" aria-hidden="true"></i>
                                                    </span>
                                                </div>
                                                {% endif %} 
                                            {% endfor %}   
                                            {% else %}
                                            <p> Đánh giá:</p>
                                            <form action="" method = 'POST' class="float-left">
                                                {% comment %} {% url 'detaillocation' detaillocation.id %} {% endcomment %}
                                                {% csrf_token %}
                                                <div class="rate">
                                                    <input type="submit" name="rating" id="rating10" value="5" required /><label for="rating10" title="5" ></label>
                                                    <input type="submit" name="rating" id="rating9" value="4.5" required /><label for="rating9" title="4.5" class="half" ></label>
                                                    <input type="submit" name="rating" id="rating8" value="4" required /><label for="rating8" title="4" ></label>
                                                    <input type="submit" name="rating" id="rating7" value="3.5" required /><label for="rating7" title="3.5" class="half" ></label>
                                                    <input type="submit" name="rating" id="rating6" value="3" required /><label for="rating6" title="3" ></label>
                                                    <input type="submit" name="rating" id="rating5" value="2.5" required /><label for="rating5" title="2.5" class="half" ></label>
                                                    <input type="submit" name="rating" id="rating4" value="2" required /><label for="rating4" title="2"></label>
                                                    <input type="submit" name="rating" id="rating3" value="1.5" required /><label for="rating3" title="1.5" class="half"></label>
                                                    <input type="submit" name="rating" id="rating2" value="1" required /><label for="rating2" title="1"></label>
                                                    <input type="submit" name="rating" id="rating1" value="0.5" required /><label for="rating1" title="0.5" class="half"></label>
                                                </div>
                                            </form>
                                            {% endif %}
                                    {% endif %}
                                </div>
                                <div class=""></div>
                            </div>
                            <div class="">
                                {% if user.username %}
                                <div class=" "style="margin: 0 100px;">
                                    <p class="text-left"><strong>Bình luận:</strong></p>
                                    <form action=" " method = 'POST'>
                                        {% comment %} {% url 'detaillocation' detaillocation.id %} {% endcomment %}
                                        {% csrf_token %}
                                        <div class= "row" style="margin-left: -15px;margin-right: -0px;">
                                            <div class="custom-file col-sm-11" style="padding-right:0px;">
                                                <input type="text" size="1" name="body" rows="1" class="form-control" placeholder="Nhập bình luận">
                                            </div>
                                            <div class="input-group-append col-sm-1" style="padding-right:0px;">
                                                <button type="submit" id="" class="btn btn-primary mt-3">Gửi</button>
                                            </div>
                                        </div>
                                    </form>
                                    
                                </div>
                                {% else %}
                                <div class=" ">
                                    <h4 class="mt-4 mb-3">Hãy đăng nhập để gửi đánh giá cho chúng tớ nhé </br><span><a href="{% url 'login' %}" style="color:#00a7ff;">Đăng nhập ngay</a></span></h4>
                                </div>
                                {% endif %}
                            </div>
                        </div>
                        <div class=" text-left" style="margin: 0 100px;">
                            {% for rating in detaillocation.ratings.all %}
                            <article class="box mb-10">
                                
                                <div class="icontext w-100 border-box">
            
                                    <div class="text" style="margin: 20px;">
                                        <span class="text-muted float-right">{{rating.author}} </span>-
                                        <span class="date text-muted float-left">{{rating.date}} </span>                                      
                                        <div class="rating-star">
                                            <span>
                                                <i class="{% if rating.rating < 0.5 %}far fa-star{% endif %} fa fa-star{% if rating.rating == 0.5 %}-half-alt {% endif %}" aria-hidden="true"></i>
                                                <i class="{% if rating.rating < 1.5 %}far fa-star{% endif %}fa fa-star{% if rating.rating == 1.5 %}-half-alt {% endif %}" aria-hidden="true"></i>
                                                <i class="{% if rating.rating < 2.5 %}far fa-star{% endif %}fa fa-star{% if rating.rating == 2.5 %}-half-alt{% endif %}" aria-hidden="true"></i>
                                                <i class="{% if rating.rating < 3.5 %}far fa-star{% endif %}fa fa-star{% if rating.rating == 3.5 %}-half-alt{% endif %}" aria-hidden="true"></i>
                                                <i class="{% if rating.rating < 4.5 %}far fa-star{% endif %}fa fa-star{% if rating.rating == 4.5 %}-half-alt{% endif %}" aria-hidden="true"></i>
                                            </span>
                                        </div>
                                    </div>
                                </div> 
                                
                            </article>
                            {% endfor %}
                            {% for comment in detaillocation.comments.all %}
                            <article class="box mb-10">
                                <div class="icontext w-100 border-box">
            
                                    <div class="text" style="margin: 20px;">
                                        <span class="text-muted float-right">{{comment.author}} </span>-
                                        <span class="date text-muted float-left">{{comment.date}} </span>
                                        <div class="mt-3">
                                            <p>
                                                {{comment.body|linebreaks}}
                                            </p>
                                        </div>
                                               
                                        {% if request.user == comment.author %}
                                        <div class="text-right box-ac">
                                            <a href="{% url 'edit_review' detaillocation.id comment.id %}"><i class="changelink"></i></a>
                                            <a href="{% url 'delete_review' detaillocation.id comment.id %}" onclick=" return confirm('Bạn có chắc chắn muốn xóa bình luận này?');"><i class="inline-deletelink"></i></a>
                                        </div>
                                        {% endif %}
                                    </div>
                                </div> 
                                
                            </article>
                            {% endfor %}
                        </div>
                    </div>
               
                    <div class="tab-pane fade" role="tabpanel" id="desc_tabs_0--2" aria-labelledby="desc_tabs_0--2-tab">
                        <section id="gallery-list-3col" class="pt-80 pb-80 text-center light">
                            <div class="container">
                                <div class="row gallery">
                                    {% for img in detaillocation.images.all %}
                                    <div class="col-md-4 mt-20 mb-20 border-box">
                                        <a href="/media/{{img.image}}" class="gallery-box">
                                            <i class="icon icon-size-m icon-plus"></i>
                                            <span class="caption">{{img.location_id}}</span>
                                            <img src="/media/{{img.image}}" alt="screen" style="height:250px!important;object-fit: contain;">
                                        </a>
                                        {% comment %} <a href="https://vimeo.com/123395658" class="gallery-box mfp-iframe">
                                            <i class="icon icon-size-m icon-ion-ios-play-outline"></i>
                                            <span class="caption">Video item</span>
                                            <img src="images/screen-8.jpg" alt="screen">
                                        </a> {% endcomment %}
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>
                            <div class="bg"></div>
                        </section>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="bg"></div>
</section>
<style>
    .progress-label-left
    {
        float: left;
        margin-right: 0.5em;
        line-height: 1em;
    }
    .progress-label-right
    {
        float: right;
        margin-left: 0.3em;
        line-height: 1em;
    }
    .star-light
    {
        color:#e9ecef;
    }
    .progress {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        height: 1rem;
        overflow: hidden;
        font-size: .75rem;
        background-color: #e9ecef;
        border-radius: .25rem;
    }
    .bg-warning{
        background-color:#ffc107!important
    }

    a.bg-warning:focus,a.bg-warning:hover,button.bg-warning:focus,button.bg-warning:hover
    {background-color:#d39e00!important}
    .progress-bar
    {display:-webkit-box;display:-ms-flexbox;
        display:flex;
        -webkit-box-orient:vertical;
        -webkit-box-direction:normal;
        -ms-flex-direction:column;
        flex-direction:column;
        -webkit-box-pack:center;
        -ms-flex-pack:center;
        justify-content:center;
        color:#fff;text-align:center;
        background-color:#007bff;
        transition:width .6s ease
    } 
    .text-warning{color:#ffc107!important}a.text-warning:focus,a.text-warning:hover{color:#d39e00!important}
    
    /* Hide Radio button */
    .rate > input{
      display: none;
    }
    
    .rate{
      display: inline-block;;
      border: 0;
    }
    
    .rate > label{
      float: right;
    }
    
    /* Showing the stars */
    .rate > label:before{
      display: inline-block;
      font-size: 2.1rem;
      font-family: FontAwesome;
      content: "\f005";
      margin:0;
      padding:0.3rem .2rem;
      cursor: pointer;
      {% comment %} color: #d0d0d0; {% endcomment %}
    }
    
    /* Half star */
    .rate .half:before{
      content: "\f089";
      position: absolute;
      padding-right: 0;
    }
    
    /* Click and hover */
    input:checked ~ label, label:hover ~ label{
      color: #ffb503;
      border-color: #ffb503;
    }
    
    /* hover hightlight */
    input:checked + label:hover, input:checked ~ label:hover,input:checked ~ label:hover ~ label,
    label:hover ~ input:checked ~ label{
      color: #cc9000;
      border-color: #cc9000;
    }
    
    .rating-star i{
      color: #ffb503 !important;
      border-color: #ffb503 !important;
    }
    .box-ac .a{
        color: red;
    }

    /* Hide the images by default */
.mySlides {
  display: none;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: gray!important;
  {% comment %} font-weight: bold; {% endcomment %}
  font-size: 30px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}
a.prev {
    left: 0px;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Container for image text */
.caption-container {
  text-align: center;
  background-color: #222;
  padding: 2px 16px;
  color: white;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Six columns side by side */
.column {
  float: left;
  width: 16.66%;
}

/* Add a transparency effect for thumnbail images */
.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}
.column img {
    vertical-align: middle;
    border:1px solid #dddddd;
  }
 .mySlides img {
    border:1px solid #dddddd;
    border-radius:15px;
    height: 450px;
  }
.gallery-img{
    position: relative;
}
.card img{
    height: 200px!important;
}
  </style>
<script>
                    
    $(document).ready(function(){

    var rating_data = 0;

    $('#add_review').click(function(){

        $('#review_modal').modal('show');

    });

    $(document).on('mouseenter', '.submit_star', function(){

        var rating = $(this).data('rating');

        reset_background();

        for(var count = 1; count <= rating; count++)
        {

            $('#submit_star_'+count).addClass('text-warning');

        }

    });

    function reset_background()
    {
        for(var count = 1; count <= 5; count++)
        {

            $('#submit_star_'+count).addClass('star-light');

            $('#submit_star_'+count).removeClass('text-warning');

        }
    }

    $(document).on('mouseleave', '.submit_star', function(){

        reset_background();

        for(var count = 1; count <= rating_data; count++)
        {

            $('#submit_star_'+count).removeClass('star-light');

            $('#submit_star_'+count).addClass('text-warning');
        }

    });

    $(document).on('click', '.submit_star', function(){

        rating_data = $(this).data('rating');

    });



});

</script>
<script>
    let slideIndex = 1;
    showSlides(slideIndex);
    
    function plusSlides(n) {
      showSlides(slideIndex += n);
    }
    
    function currentSlide(n) {
      showSlides(slideIndex = n);
    }
    
    function showSlides(n) {
      let i;
      let slides = document.getElementsByClassName("mySlides");
      let dots = document.getElementsByClassName("demo");
      let captionText = document.getElementById("caption");
      if (n > slides.length) {slideIndex = 1}
      if (n < 1) {slideIndex = slides.length}
      for (i = 0; i < slides.length; i++) {
        slides[i].style.display = "none";
      }
      for (i = 0; i < dots.length; i++) {
        dots[i].className = dots[i].className.replace(" active", "");
      }
      slides[slideIndex-1].style.display = "block";
      dots[slideIndex-1].className += " active";
      captionText.innerHTML = dots[slideIndex-1].alt;
    }
    </script>
 {% endblock %}