{% extends "pages/base.html" %}
{% load static %}

{% block title %}{{detaillocation.name}}{% endblock %}

{% block content %}
<section id="desc-img-text-list" class="pt-150 pb-100 light">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-md-push-8">
                <h2 class="mb-10"><a href=""><strong>{{detaillocation.name}}</strong></a></h2>
                <h4 class="mb-50">{{detaillocation.category}}</h4>
                <p class="mb-20"><i class="icon-location2 icon-color icon-size-m icon-position-left "></i>{{detaillocation.address}}, {{location.wardcommune}}, {{detaillocation.distric}}, {{detaillocation.city}}</p>
                <ul class="text-icon-list text-icon-list-sep">
                    <li class="clearfix"><i class="icon-phone icon-color icon-size-m icon-position-left"></i>
                        <span>Số điện thoại</span>
                        <span class="pull-right">{{detaillocation.phone}}</span>
                    </li>
                    <li class="clearfix"><i class="icon-star icon-color icon-size-m icon-position-left"></i>
                        <span>Đánh giá</span>
                        <span class="pull-right">{{detaillocation.vote}}</span>
                    </li>
                    <li class="clearfix"><i class="icon-tag icon-color icon-size-m icon-position-left"></i>
                        <span>Khoảng giá</span>
                        <span class="pull-right"><strong>{{detaillocation.costmin}}</strong>-<strong>{{detaillocation.costmax}} VND</strong></span>
                    </li>
                </ul>
                <a href="#" class="btn btn-default mt-60"><span>Rent now</span><i class="icon-arrow-right icon-position-right"></i></a>
            </div>
            <div class="col-md-8 col-md-pull-4 text-center">
                <img src="{% static 'images/screen-43.jpg' %}" alt="screen" class="screen">
            </div>
        </div>
    </div>
    <div class="bg"></div>
</section>

<section id="desc-tabs" class="pt-100 pb-125 text-center light">
    <div class="container">
        <h2 class="mb-50">About us</h2>
        <div class="row">
            <div class="col-md-12">

                <ul class="nav nav-tabs" id="myTabs" role="tablist">
                    <li class=""><a href="#desc_tabs_0--0" id="desc_tabs_0--0-tab" role="tab" data-toggle="tab" aria-controls="desc_tabs_0--0" aria-expanded="false"><span>History</span></a></li><li class="active"><a href="#desc_tabs_0--1" role="tab" id="desc_tabs_0--1-tab" data-toggle="tab" aria-controls="desc_tabs_0--1" aria-expanded="true"><span>Vision</span></a></li><li class=""><a href="#desc_tabs_0--2" role="tab" id="desc_tabs_0--2-tab" data-toggle="tab" aria-controls="desc_tabs_0--2" aria-expanded="false"><span>Targets</span></a></li>
                </ul>
                <div class="tab-content mt-40" id="myTabContent">
                    <div class="tab-pane fade" role="tabpanel" id="desc_tabs_0--0" aria-labelledby="desc_tabs_0--0-tab">
                        <h4 class="mb-30">Since 1904 till today</h4>
                        <p>{{detaillocation.describe|safe|linebreaks}}</p>
                    </div>
                    <div class="tab-pane fade active in" role="tabpanel" id="desc_tabs_0--1" aria-labelledby="desc_tabs_0--1-tab">
                        <div class="card">
                            <div class="card-header">Sample Product</div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-sm-4 text-center">
                                        <h1 class="text-warning mt-4 mb-4">
                                            <b><span id="average_rating">0.0</span> / 5</b>
                                        </h1>
                                        <div class="mb-3">
                                            <i class="fas fa-star star-light mr-1 main_star"></i>
                                            <i class="fas fa-star star-light mr-1 main_star"></i>
                                            <i class="fas fa-star star-light mr-1 main_star"></i>
                                            <i class="fas fa-star star-light mr-1 main_star"></i>
                                            <i class="fas fa-star star-light mr-1 main_star"></i>
                                        </div>
                                        <h3><span id="total_review">0</span> Review</h3>
                                    </div>
                                    <div class="col-sm-4">
                                        <p>
                                            <div class="progress-label-left"><b>5</b> <i class="fas fa-star text-warning"></i></div>
                
                                            <div class="progress-label-right">(<span id="total_five_star_review">0</span>)</div>
                                            <div class="progress">
                                                <div class="progress-bar bg-warning" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" id="five_star_progress"></div>
                                            </div>
                                        </p>
                                        <p>
                                            <div class="progress-label-left"><b>4</b> <i class="fas fa-star text-warning"></i></div>
                                            
                                            <div class="progress-label-right">(<span id="total_four_star_review">0</span>)</div>
                                            <div class="progress">
                                                <div class="progress-bar bg-warning" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" id="four_star_progress"></div>
                                            </div>               
                                        </p>
                                        <p>
                                            <div class="progress-label-left"><b>3</b> <i class="fas fa-star text-warning"></i></div>
                                            
                                            <div class="progress-label-right">(<span id="total_three_star_review">0</span>)</div>
                                            <div class="progress">
                                                <div class="progress-bar bg-warning" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" id="three_star_progress"></div>
                                            </div>               
                                        </p>
                                        <p>
                                            <div class="progress-label-left"><b>2</b> <i class="fas fa-star text-warning"></i></div>
                                            
                                            <div class="progress-label-right">(<span id="total_two_star_review">0</span>)</div>
                                            <div class="progress">
                                                <div class="progress-bar bg-warning" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" id="two_star_progress"></div>
                                            </div>               
                                        </p>
                                        <p>
                                            <div class="progress-label-left"><b>1</b> <i class="fas fa-star text-warning"></i></div>
                                            
                                            <div class="progress-label-right">(<span id="total_one_star_review">0</span>)</div>
                                            <div class="progress">
                                                <div class="progress-bar bg-warning" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" id="one_star_progress"></div>
                                            </div>               
                                        </p>
                                    </div>
                                    <div class="col-sm-4 text-center">
                                        <h3 class="mt-4 mb-3">Đánh giá và viết bình luận</h3>
                                        <button type="button" name="add_review" id="add_review" class="btn btn-primary">Bình luận</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="mt-5" id="review_content"></div>
                        <div id="review_modal" class="modal" tabindex="-1" role="dialog">
                            <div class="modal-dialog" role="document">
                              <div class="modal-content">
                                    <div class="modal-header">
                                      <h5 class="modal-title">Submit Review</h5>
                                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                      </button>
                                    </div>
                                    <div class="modal-body">
                                        <h4 class="text-center mt-2 mb-4">
                                          <i class="fas fa-star star-light submit_star mr-1" id="submit_star_1" data-rating="1"></i>
                                          <i class="fas fa-star star-light submit_star mr-1" id="submit_star_2" data-rating="2"></i>
                                          <i class="fas fa-star star-light submit_star mr-1" id="submit_star_3" data-rating="3"></i>
                                          <i class="fas fa-star star-light submit_star mr-1" id="submit_star_4" data-rating="4"></i>
                                          <i class="fas fa-star star-light submit_star mr-1" id="submit_star_5" data-rating="5"></i>
                                        </h4>
                                        <div class="form-group">
                                            {% comment %} <input type="text" name="user_name" id="user_name" class="form-control" placeholder="Enter Your Name" /> {% endcomment %}
                                            {% if user.username %}
                                                <form action=" {% url 'detaillocation' detaillocation.id %}" method = 'POST'>
                                                    {% csrf_token %}
                                                    <p> <lable>Bình luận </lable></p>
                                                    {{form.body}}
                                                    {{form.rating}}
                                                    <br/>
                                                    <input type="submit" value="Bình luận"/>
                                                </form>
                                            {% endif %}
                                            
                                        </div>
                                      {% comment %} <div class="form-group">
                                          <textarea name="user_review" id="user_review" class="form-control" placeholder="Type Review Here"></textarea>
                                      </div>
                                      <div class="form-group text-center mt-4">
                                          <button type="button" class="btn btn-primary" id="save_review">Submit</button>
                                      </div> {% endcomment %}
                                    </div>
                              </div>
                            </div>
                      </div>
                      
                      
                      <script>
                      
                          $(document).ready(function(){
                      
                          var rating_data = 0;
                      
                          $('#add_review').click(function(){
                      
                              $('#review_modal').modal('show');
                      
                          });
                      
                          $(document).on('mouseenter', '.submit_star', function(){
                      
                              var rating = $(this).data('rating');
                      
                              reset_background();
                      
                              for(var count = 1; count <= rating; count++)
                              {
                      
                                  $('#submit_star_'+count).addClass('text-warning');
                      
                              }
                      
                          });
                      
                          function reset_background()
                          {
                              for(var count = 1; count <= 5; count++)
                              {
                      
                                  $('#submit_star_'+count).addClass('star-light');
                      
                                  $('#submit_star_'+count).removeClass('text-warning');
                      
                              }
                          }
                      
                          $(document).on('mouseleave', '.submit_star', function(){
                      
                              reset_background();
                      
                              for(var count = 1; count <= rating_data; count++)
                              {
                      
                                  $('#submit_star_'+count).removeClass('star-light');
                      
                                  $('#submit_star_'+count).addClass('text-warning');
                              }
                      
                          });
                      
                          $(document).on('click', '.submit_star', function(){
                      
                              rating_data = $(this).data('rating');
                      
                          });
                      
                            $('#save_review').click(function(){
                      
                                var user_name = $('#user_name').val();
                        
                                var user_review = $('#user_review').val();
                        
                                if(user_name == '' || user_review == '')
                                {
                                    alert("Please Fill Both Field");
                                    return false;
                                }
                                else
                                {
                                    $.ajax({
                                        url:"detaillocation",
                                        method:"POST",
                                        data:{rating_data:rating},
                                        success:function(data)
                                        {
                                            $('#review_modal').modal('hide');
                        
                                            load_rating_data();
                        
                                            alert(data);
                                        }
                                    })
                                }
                      
                            });
                      
                          load_rating_data();
                      
                          function load_rating_data()
                          {
                              $.ajax({
                                  url:"submit_rating.php",
                                  method:"POST",
                                  data:{action:'load_data'},    
                                  dataType:"JSON",
                                  success:function(data)
                                  {
                                      $('#average_rating').text(data.average_rating);
                                      $('#total_review').text(data.total_review);
                      
                                      var count_star = 0;
                      
                                      $('.main_star').each(function(){
                                          count_star++;
                                          if(Math.ceil(data.average_rating) >= count_star)
                                          {
                                              $(this).addClass('text-warning');
                                              $(this).addClass('star-light');
                                          }
                                      });
                      
                                      $('#total_five_star_review').text(data.five_star_review);
                      
                                      $('#total_four_star_review').text(data.four_star_review);
                      
                                      $('#total_three_star_review').text(data.three_star_review);
                      
                                      $('#total_two_star_review').text(data.two_star_review);
                      
                                      $('#total_one_star_review').text(data.one_star_review);
                      
                                      $('#five_star_progress').css('width', (data.five_star_review/data.total_review) * 100 + '%');
                      
                                      $('#four_star_progress').css('width', (data.four_star_review/data.total_review) * 100 + '%');
                      
                                      $('#three_star_progress').css('width', (data.three_star_review/data.total_review) * 100 + '%');
                      
                                      $('#two_star_progress').css('width', (data.two_star_review/data.total_review) * 100 + '%');
                      
                                      $('#one_star_progress').css('width', (data.one_star_review/data.total_review) * 100 + '%');
                      
                                      if(data.review_data.length > 0)
                                      {
                                          var html = '';
                      
                                          for(var count = 0; count < data.review_data.length; count++)
                                          {
                                              html += '<div class="row mb-3">';
                      
                                              html += '<div class="col-sm-1"><div class="rounded-circle bg-danger text-white pt-2 pb-2"><h3 class="text-center">'+data.review_data[count].user_name.charAt(0)+'</h3></div></div>';
                      
                                              html += '<div class="col-sm-11">';
                      
                                              html += '<div class="card">';
                      
                                              html += '<div class="card-header"><b>'+data.review_data[count].user_name+'</b></div>';
                      
                                              html += '<div class="card-body">';
                      
                                              for(var star = 1; star <= 5; star++)
                                              {
                                                  var class_name = '';
                      
                                                  if(data.review_data[count].rating >= star)
                                                  {
                                                      class_name = 'text-warning';
                                                  }
                                                  else
                                                  {
                                                      class_name = 'star-light';
                                                  }
                      
                                                  html += '<i class="fas fa-star '+class_name+' mr-1"></i>';
                                              }
                      
                                              html += '<br />';
                      
                                              html += data.review_data[count].user_review;
                      
                                              html += '</div>';
                      
                                              html += '<div class="card-footer text-right">On '+data.review_data[count].datetime+'</div>';
                      
                                              html += '</div>';
                      
                                              html += '</div>';
                      
                                              html += '</div>';
                                          }
                      
                                          $('#review_content').html(html);
                                      }
                                  }
                              })
                          }
                      
                      });
                      
                      </script>
                        <div class=""
                            {% for comment in detaillocation.comments.all%}
                            <h4 class="mb-30"><strong>{{comment.author}}</strong></h4>
                            <h6><p>{{comment.date}}</p></h6>
                            <p>{{comment.body|linebreaks}}</p>
                            <p>{{comment.rating}}</p>
                            {% endfor %}
                        </div>
                    <div class="tab-pane fade" role="tabpanel" id="desc_tabs_0--2" aria-labelledby="desc_tabs_0--2-tab">
                        <h4 class="mb-30">A little bit about our ideas</h4>
                        <p>Of course, this text is just a little thing, one of those smalls that create this product in whole. They are – each of them – are responsible for the fact whether this product would be great or ordinary. It is possible to raise the whole product up only through raising smalls on a new level. So, this is what we are busy now. We spend our time and attention exactly to these things. So, what is the secret of successful template design? First of all, it is its friendliness – both for the template’s owner and for his or her future targeted audience. UX and UI are not just empty phrases for us. It is very important for us that the user could understand correctly the message your project’s trying to say to him or her. But, correct giving of the information is just a half of success. Emotions that causes your project in visitor are no less important ticket to success</p>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="bg"></div>
</section>
<style>
    .progress-label-left
    {
        float: left;
        margin-right: 0.5em;
        line-height: 1em;
    }
    .progress-label-right
    {
        float: right;
        margin-left: 0.3em;
        line-height: 1em;
    }
    .star-light
    {
        color:#e9ecef;
    }
    .progress {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        height: 1rem;
        overflow: hidden;
        font-size: .75rem;
        background-color: #e9ecef;
        border-radius: .25rem;
    }
    .bg-warning{
        background-color:#ffc107!important
    }

    a.bg-warning:focus,a.bg-warning:hover,button.bg-warning:focus,button.bg-warning:hover
    {background-color:#d39e00!important}
    .progress-bar
    {display:-webkit-box;display:-ms-flexbox;
        display:flex;
        -webkit-box-orient:vertical;
        -webkit-box-direction:normal;
        -ms-flex-direction:column;
        flex-direction:column;
        -webkit-box-pack:center;
        -ms-flex-pack:center;
        justify-content:center;
        color:#fff;text-align:center;
        background-color:#007bff;
        transition:width .6s ease
    } 
    .text-warning{color:#ffc107!important}a.text-warning:focus,a.text-warning:hover{color:#d39e00!important}
  </style>
 {% endblock %}