{% extends "pages/base.html" %}

{% block title %}Danh sách địa điểm{% endblock %}

{% block content %}

<section id="desc-img-text-4col-2" class="pt-125 pb-125 light">
    <div class="container">
        <h4 class="mb-40">Bộ lọc tìm kiếm</h4>
        <nav class="navbar navbar-light bg-light" method = "GET">
            <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"></script>
            <script id="dataJson" type="application/json" src="C:/xampp/htdocs/AparaWeb/home/static/data.json"></script>
            <form class="form-inline" action="{% url 'searchlocation'%}">
                <input class="form-control mr-sm-2" name="q" type="search" placeholder="Search" aria-label="Search">
                <div class="form-group select-group">
                    <select class="form-control form-select-sm" name="q" id="city" aria-label=".form-select-sm">
                        <option value="" selected="" disabled="">Chọn tỉnh thành</option>
                    </select>
                </div>
                <div class="form-group select-group" >
                    <select class="form-control" name="q" id="district" aria-label=".form-select-sm">
                        <option value="" selected="" disabled="">Chọn Quận/Huyện</option>
                    </select>
                </div>
                <div class="form-group select-group">
                    <select class="form-control" name="q" id="ward" aria-label=".form-select-sm">
                        <option value="wardcommune" selected="" disabled="">Chọn Phường/Xã</option>
                    </select>
                </div>
                <div class="form-group select-group">
                    <select class="form-control" name="q">
                        <option value="mincost" selected="" disabled="">Giá từ</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                    </select>
                </div>
                <div class="form-group select-group">
                    <select class="form-control" name="q">
                        <option value="maxcost" selected="" disabled="">đến</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                    </select>
                </div>
              <button class="btn btn-primary my-2 my-sm-0 " type="submit">Tìm kiếm   </button>
            </form>
        </nav>
        <h4 class="mb-40">Danh sách địa điểm</h4>
        <div class="row">
            {% for location in Locations %}
            <div class="col-md-3 col-sm-6">
                <div class="card" style="border: 0.5px solid #f2f2f2;">
                    <div style="">
                        <img src="{{location.image.url}}" alt="Photo" class="card-img">
                    </div>
                    <div style="margin: 10px;">
                        <h4 class="mt-20 mb-0"><strong><a href="/blog/location/{{location.id}}">{{location.name}}</a></strong></h4>
                        <h4 class="mb-20">{{location.category}}</h4>
                        <p class="mb-20 address-loca" style="display: -webkit-box;-webkit-line-clamp: 2;-webkit-box-orient: vertical;overflow: hidden;">
                            <i class="icon-location2 icon-color icon-size-m icon-position-left "></i>{{location.address}}, {{location.wardcommune}}, {{location.distric}}, {{location.city}}</p>
                        <ul class="text-icon-list text-icon-list-sep">
                            <li class="clearfix"><i class="icon-star icon-color icon-size-m icon-position-left"></i>
                                <span>Đánh giá</span>
                                <span class="pull-right">{{location.averageReview}}/ 5</span>
                            </li>
                            <li class="clearfix"><i class="icon-tag icon-color icon-size-m icon-position-left"></i>
                                <span>Giá</span>
                                <span class="pull-right"><strong>{{location.costmin}}</strong>-<strong>{{location.costmax}} VND</strong></span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </br>
    {% if page_obj.has_next %}
        <a href="{{request.path}}?page={{page_obj.next_page_number}}">Tiếp</a>
    {% endif %}
    </div>
    <div class="bg"></div>
</section>
<script>
    var citis = document.getElementById("city");
    var districts = document.getElementById("district");
    var wards = document.getElementById("ward");
    var Parameter = {
    url: "https://raw.githubusercontent.com/kenzouno1/DiaGioiHanhChinhVN/master/data.json", 
    method: "GET", 
    responseType: "application/json", 
    };
    var promise = axios(Parameter);
    promise.then(function (result) {
    renderCity(result.data);
    });
    
    function renderCity(data) {
    for (const x of data) {
     citis.options[citis.options.length] = new Option(x.Name, x.Id);
    }
    citis.onchange = function () {
     district.length = 1;
     ward.length = 1;
     if(this.value != ""){
       const result = data.filter(n => n.Id === this.value);
    
       for (const k of result[0].Districts) {
         district.options[district.options.length] = new Option(k.Name, k.Id);
       }
     }
    };
    district.onchange = function () {
     ward.length = 1;
     const dataCity = data.filter((n) => n.Id === citis.value);
     if (this.value != "") {
       const dataWards = dataCity[0].Districts.filter(n => n.Id === this.value)[0].Wards;
    
       for (const w of dataWards) {
         wards.options[wards.options.length] = new Option(w.Name, w.Id);
       }
     }
    };
    }
</script>
 {% endblock %}
 