{% extends "pages/base.html" %}

{% block title %}Tìm kiếm{% endblock %}

{% block content %}
<section id="desc-img-text-4col-2" class="pt-125 pb-125 light">
    <div class="container">
        <h5 class=" mb-40"><span class="text-muted">Kết quả tìm kiếm cho >></span>{{request.GET.q}}</h5>
        <div class="row">
            {% for location in locations %}
        <div class="col-md-3 col-sm-6">
            <div class="card" style="border: 0.5px solid #f2f2f2;">
                <div style="">
                    <img src="{{location.image.url}}" alt="Photo" class="card-img">
                </div>
                <div style="margin: 10px;">
                    <h4 class="mt-20 mb-0"><strong><a href="/blog/location/{{location.id}}">{{location.name}}</a></strong></h4>
                    <h4 class="mb-20">{{location.category}}</h4>
                    <p class="mb-20 address-loca" style="display: -webkit-box;-webkit-line-clamp: 2;-webkit-box-orient: vertical;overflow: hidden;">
                        <i class="icon-location2 icon-color icon-size-m icon-position-left "></i>{{location.address}}, {{location.wardcommune}}, {{location.distric}}, {{location.city}}</p>
                    <ul class="text-icon-list text-icon-list-sep">
                        <li class="clearfix"><i class="icon-star icon-color icon-size-m icon-position-left"></i>
                            <span>Đánh giá</span>
                            <span class="pull-right">{{location.averageReview}}/ 5</span>
                        </li>
                        <li class="clearfix"><i class="icon-tag icon-color icon-size-m icon-position-left"></i>
                            <span>Giá</span>
                            <span class="pull-right"><strong>{{location.costmin}}</strong>-<strong>{{location.costmax}} VND</strong></span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>   
</section>

{% endblock %}
 